div#hourlyDataWrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: auto;
    overflow: auto;
}

div.dataWrapper {
    margin: 0px 5px;
}

p.dataValue {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    margin-left: 3px;
}