div#dailyDataWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: auto;
    overflow: auto;
}

div.dailyData {
    margin: 0px 10px;
    text-align: center;
}

p.dataValue {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 60px;
}

p.dayOfWeek {
    margin: 0;
}