div#currentWeatherContainer {
    max-width: 95%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

div#currentTemperatureContainer {
    align-self: center;
}

div#hourlyAndDailyTemperatureContainer {
    width: 675px;
    max-width: 95%;
    align-self: flex-start;
}

div#MATContainer {
    align-self: flex-start;
    width: 325px;
    max-width: 95%;
}

p#locationName {
    margin-top: 0;
    font-size: 26px;
    color: red;
    text-align: center;
}

p#minAndMaxTemp {
    font-size: 24px;
    margin-top: 5px;
    clear: both;
    text-align: center;
}

div.tempAndIcon {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

p#locationTemp {
    font-size: 90px;
    font-weight: 100;
    margin: 0;
}

#weatherIcon {
    margin: auto 0;
}

#matTitle {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    margin-top: 0px;
}

#matValue {
    font-size: 18px;
    text-align: center;
    margin-bottom: 48px;
}

div#sectionWrapper {
    display: flex;
    justify-content: space-around;
}

h1#section {
    margin-bottom: 15px;
}

h1#MATSection {
    margin-bottom: 10px;
}