div#fiveDayDataWrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 25%;
    margin: auto;
    overflow: auto;
}

div.dailyData {
    margin: 0px 10px;
    text-align: center;
}

p.dataValue {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 60px;
}

@media screen and (max-width: 1100px) {
    div#fiveDayDataWrapper {
        width: 40%;
    }
}

@media screen and (max-width: 750px) {
    div#fiveDayDataWrapper {
        width: 55%;
    }
}

@media screen and (max-width: 550px) {
    div#fiveDayDataWrapper {
        width: 70%;
    }
}

@media screen and (max-width: 404px) {
    div#fiveDayDataWrapper {
        width: 80%;
    }
}