body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p#title {
  text-align: center;
  font-size: 54px;
  font-weight: 400;
  margin: auto;
  margin-bottom: 0px;
  padding-top: 25px;
}

@media all and (max-width: 415px) {
  p#title {
    font-size: 40px;
  }
}

#LocationRequestForm {
  text-align: center;
}

#LocationRequest {
  text-align: center;
}

#enterLocation {
  text-align: center;
}

div#loadingIcon {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}