#settingsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    border: none;
}

.light-button {
    background-color: white;
    color: black;
}

.dark-button {
    background-color: #101010;
    color: white;
}

.dark-button > svg {
    fill: white;    
}

.light-button > svg {
    fill: black;
}

.svgIcon:hover {
    background-color: pink;
    transition: ease 0.5s;
    border-radius: 50%;
}

button:focus {
    outline: none !important;
}